{% load static %}
<!DOCTYPE html>
<html lang="es" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.red.min.css"
    >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Mountains+of+Christmas:wght@400;700&family=Poppins:wght@200;400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
  </head>
  <body>
    <div class="christmas-lights">
      <div class="light red"></div>
      <div class="light yellow"></div>
      <div class="light green"></div>
      <div class="light blue"></div>
      <div class="light pink"></div>
      <div class="light orange"></div>
      <div class="light purple"></div>
      <div class="light cyan"></div>
      <div class="light lime"></div>
    </div>
    <nav class="container">
      <ul>
        <li>
          <a href="{% url 'raffle_list' %}">Sorteos</a>
        </li>
        <li>
          <a href="{% url 'top_participants' %}">Top</a>
        </li>
        <li>
          <a href="{% url 'daily_winners_history' %}">Historial</a>
        </li>
        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'add_participant' %}">Agregar persona</a>
          </li>
          <li>
            <a href="{% url 'add_raffle_number' %}">Anotar numero</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <main class="container">
      {% if messages %}
        <section>
          {% for message in messages %}
            <article>
              <p>
                <strong>
                  {% if message.tags == 'success' %}✅ Éxito:{% elif message.tags == 'error' %}❌ Error:{% elif message.tags == 'warning' %}⚠️ Aviso:{% else %}ℹ️ Información:{% endif %}
                </strong>
                <br>
                {{ message }}
              </p>
            </article>
          {% endfor %}
        </section>
      {% endif %}
      {% block content %}
      {% endblock %}
    </main>
    <footer class="container" style="text-align:center; margin-top:2rem;">
      <div id="christmas-tree">🎄</div>
    </footer>
    <script src="{% static 'snowstorm.js' %}"></script>
  </body>

</html>
